h1 {
  text-align: center;
}

.content>mat-card {
  width: 200px;
}

.header {
  height: 100px;
}

.actions {
  margin-bottom: 10px;
  width: 100%;
  display: inline-block;
}

.movie-card {
  height: 100%;
  align-items: center;
}

.movie-img {
  height: 80%;
  width: 100%;
}