<h1>
  Movies
</h1>

<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="10px grid">
    <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let movie of movies;">
      <mat-card class="movie-card">
        <mat-card-header class="header">
          <mat-card-title>{{movie.title}}</mat-card-title>
          <mat-card-subtitle>Directed by: {{movie.director.name}}</mat-card-subtitle>
        </mat-card-header>
        <img class="movie-img" mat-card-image src={{movie.imageURL}} alt={{movie.title}}>
        <mat-card-actions class="actions">
          <button mat-button (click)="openGenreDialog(movie)" color="primary">
            Genre
          </button>
          <button mat-button (click)="openDirectorDialog(movie)" color="primary">
            Director
          </button>
          <button mat-button (click)="openSynopsisDialog(movie)" color="primary">
            Synopsis
          </button>
          <button *ngIf="isFavorite(movie)" mat-button (click)="addToFavorites(movie)" color="warn"
            aria-label="Favorite button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>