<mat-toolbar color="warn">
  <button mat-icon-button hidden class=" example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="mat-home">myFlix</span>
  <span class="example-spacer"></span>
  <nav mat-tab-nav-bar [tabPanel]="tabPanel" *ngIf="loggedInUser()">
    <a mat-tab-link (click)="goToPage('movies')">Movies</a>
    <a mat-tab-link (click)="goToPage('profile')">Profile</a>
    <a mat-tab-link (click)="logout()">Logout</a>
  </nav>
  <!-- This is needed for the mat-tab-nav-bar (with [tabPanel]="tabPanel" above)
    (https://material.angular.io/components/tabs/examples) -->
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
</mat-toolbar>

<router-outlet></router-outlet>.