h1 {
  text-align: center;
}

.content-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button {
  align-self: center;
}

.header {
  height: 100px;
}

.actions {
  margin-bottom: 10px;
  width: 100%;
  display: inline-block;
}

.movie-card {
  height: 100%;
  align-items: center;
}

.movie-img {
  height: 80%;
  width: 100%;
}